.banner{
    background-image: url('../assets/foto_banner.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: grid;
    place-items: center;
}

.banner-content{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-content h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.6rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.banner-content .beige{
    font-family: 'Playfair Display', sans-serif;
    color: var(--color-secondary);
}

.banner-content p{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 10px #000;
}